:root {
    --dropdown-bg: var(--white-warm);
    --dropdown-border: var(--white-warm);
    --dropdown-item-bg: var(--black-warm-5);
}

[data-theme='dark'] {
    --dropdown-bg: var(--black-warm-80);
    --dropdown-border: var(--black-warm-60);
    --dropdown-item-bg: var(--black-warm-60);
}

.content {
    min-width: 220px;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid var(--dropdown-border);
    background: var(--dropdown-bg);
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
    transform-origin: var(--radix-dropdown-menu-content-transform-origin);
    animation: slideIn 400ms cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 4;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.item {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    border-radius: 3px;
    padding: 10px;
    color: var(--primary-text-color);
    user-select: none;
    outline: none;
    cursor: pointer;

    &[data-disabled] {
        color: #999;
        pointer-events: none;
    }

    &:hover {
        background-color: var(--dropdown-item-bg);
    }

    &:focus-visible {
        background-color: #f5f5f5;
    }
    svg {
        width: 18px;
        height: 18px;
    }
}

.itemDanger {
    color: #ff4d4f;
}

.separator {
    height: 1px;
    background-color: var(--dropdown-border);
    margin: 5px;
}
