.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 3;
    background-color: #fff;
    border: 1px solid #a0a096;
    border-radius: 4px;
    padding: 0.5rem 0;

    li {
        padding: 0.5rem 1rem;
    }
}
