@use "@styles/mixins" as *;

:root {
    --header-bg: #fff;
    --nav-item: var(--black-warm-40);
    --nav-item-active: var(--black-warm-90);
    --header-border: var(--black-warm-10);
    --slider-todos-bg: var(--violet-60);
    --slider-notes-bg: var(--yellow-100);
    --slider-boards-bg: var(--pink-60);
}

[data-theme="dark"] {
    --header-bg: var(--black-warm-90);
    --nav-item: var(--black-warm-60);
    --nav-item-active: var(--black-warm-off);
    --header-border: var(--black-warm-80);
    --slider-todos-bg: var(--violet-40);
    --slider-notes-bg: var(--yellow-60);
    --slider-boards-bg: var(--pink-40);
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    align-content: center;
    justify-self: center;
    padding: 5px 7px 5px 20px;
    border-radius: 30px;
    height: 60px;
    max-width: 1024px;
    gap: 1rem;
    background: var(--header-bg);
    border: 1px solid var(--header-border);
    position: relative;
    box-shadow: 0 16px 32px 0 rgb(12, 12, 13, 0.1);

    @include mobile-only {
        height: 48px;
        padding: 5px 8px 5px 16px;
    }
}

.logoSwitcher {
    display: flex;
    align-items: center;
    gap: 15px;
}   

.logo {
    width: 80px;

    @include mobile-only {
        width: 35px;
    }

    [data-theme="dark"] & {
        filter: invert(1);
    }
}

.nav {
    display: inline-flex;
    justify-content: stretch;
    justify-self: center;
    align-self: stretch;
    margin: -6px 0;
    gap: 25px;
    text-align: center;
    position: relative;

    a {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 0;
        text-decoration: none;
        color: var(--nav-item);
        transition: all 0.2s ease;
        position: relative;
        line-height: 1;
    }

    .active {
        color: var(--nav-item-active);
        z-index: 1;
    }

    @include mobile-only {
        margin: -8px 0;
    }
}

.slider {
    position: absolute;
    bottom: 0;
    height: 2px;
    border-radius: 2px;
    background: var(--slider-todos-bg);
    transition: all 0.2s ease;

    &[data-page="notes"] {
        background: var(--slider-notes-bg);
    }

    &[data-page="boards"] {
        background: var(--slider-boards-bg);
    }
}

.user {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.userName {
    color: var(--primary-text-color);
    @include mobile-only {
        display: none;
    }
}

.userTrigger {
    display: flex;
    align-items: center;
    gap: 10px;
    font: 1rem var(--font-family);
    border: none;
    padding: 0;
    background: none;
    transition: box-shadow 0.2s;

    &[data-state="open"] {
        .userImage {
            box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
        }
    }
}

.userImage {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;

    @include mobile-only {
        width: 32px;
        height: 32px;
    }
}
