.form {
    display: grid;
    gap: 1rem;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;

    textarea {
        resize: none;
        min-height: 100px;
        padding: 5px;
    }
}

@media (max-width: 768px) {
    .form {
        padding: 0 30px;
    }
}