@use "@styles/functions" as *;
@use "@styles/mixins" as *;

:root {
    --add-button-border: var(--black-warm-10);
}

[data-theme='dark'] {
    --add-button-border: var(--black-warm-60);
}

.TodoListContainer {
    display: grid;
    position: relative;

    .addButtonSmall {
        position: absolute;
        top: 22px;
        right: 25px;
        width: 35px;
        height: 35px;
        background: var(--violet-80);
        color: var(--black-warm-off);
        z-index: 1;

        &:hover {
            background: var(--violet-100);
        }
    
        @include mobile-only {
            top: 12px;
            right: 5px;
        }
    }
}

.loader {
    position: absolute;
    top: 32px;
    left: 24px;
    z-index: 1;

    @include mobile-only {
        top: 22px;
        left: 10px;
    }
}

.TodoList {
    display: grid;
    grid-auto-rows: min-content;
    align-content: start;
    gap: 1rem;
    padding: 80px 5px 10px;

    @include tablet-up {
        max-height: 65vh;
        padding: 90px 20px 24px;
        overflow-y: auto;
    }
}

.addButton {
    width: 50px;
    height: 50px;
    border: 1px solid var(--add-button-border);
    background: none;
}

.noTodos {
    display: grid;
    place-items: center;
    align-self: center;
    gap: 20px;
    text-align: center;
    color: var(--black-warm-60);
    font-size: rem(18);
    z-index: 1;
}
