@use "@styles/functions" as *;

.deck {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card {
    display: grid;
    padding: 8px 12px;
    border: 1px solid var(--input-border);
    border-radius: 6px;
    background: var(--input-bg);
    color: var(--input-color);
    font-size: rem(14);
    cursor: pointer;
    transition: all 0.15s ease;

    &:hover:not(:disabled) {
        border-color: var(--input-border-hover);
    }

    &:disabled {
        cursor: default;
        opacity: 0.5;
    }
}

.cardSelected {
    border-color: var(--input-border-focus);
    background: var(--input-border-focus);
    color: var(--black-warm-3);

    &:disabled {
        opacity: 1;
    }
}
