.form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0 auto 1rem;
    width: calc(100% - 4rem);
}

.formRow {
    display: flex;
    gap: 0.5rem;
    flex-grow: 1;

    label {
        line-height: 29px;
    }
    
}

@media (max-width: 768px) {
    .form {
        display: grid;
        grid-template-columns: 1fr min-content;
        gap: 1rem;

        button {
            grid-column: 1 / -1;
        }
    }
}