.TodoItem {
    display: grid;
    grid-template-columns: min-content 1fr auto;
    align-items: start;
    gap: 10px;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    animation: appear 0.2s ease-out;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.TodoItem input {
    margin-top: 4px;
}

.Done {
    text-decoration: line-through;
}

.Content {
    text-align: left;
}

.TodoItem p {
    margin: 0;
}
  
.Actions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0.5rem;
}
  