.TodoItem {
    display: grid;
    grid-template-columns: min-content 1fr auto;
    align-items: start;
    gap: 10px;
    padding: 0.5rem 1rem;
    border: 1px solid #a0a096;
    border-radius: 3px;
    animation: appear 0.2s ease-out;
    position: relative;
}

.red {
    color: red;
}

.loader {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.TodoItem input {
    margin-top: 4px;
}

.Done {
    text-decoration: line-through;
}

.Content {
    display: flex;
    flex-direction: column;
    text-align: left;

    p:first-child {
        font-weight: bold;
        margin-bottom: 3px;
        text-transform: capitalize;
    }
}

.TodoItem p {
    margin: 0;
}
  
.Actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 5px;

    button {
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
        &:hover {
            color: orange;
        }

        svg {
            width: 24px;
            height: 24px;
        }
    }
}
  