:root {
    --secondary-border-color: var(--black-warm-30);
    --secondary-border-color-hover: var(--black-warm-80);
    --disabled-bg: var(--black-warm-5);
    --disabled-color: var(--black-warm-20);
}

[data-theme="dark"] {
    --secondary-border-color: var(--black-warm-30);
    --secondary-border-color-hover: var(--black-warm-off);
    --disabled-bg: var(--black-warm-90);
    --disabled-color: var(--black-warm-60);
}

@mixin button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: 8px;
    flex-shrink: 0;
    font-weight: 600;
    color: #fff;
    transition: all 0.2s ease;
    text-transform: capitalize;

    &[disabled] {
        cursor: default;
        background: var(--disabled-bg);
        color: var(--disabled-color);
        border: none;
    }
}

.button {
    @include button;
    background: var(--violet-100);
    border: none;

    &:not([disabled]):hover {
        background: var(--violet-80);
    }
}

.secondary {
    border: 1px solid var(--secondary-border-color);
    background: none;
    color: var(--primary-text-color);

    &:not([disabled]):hover {
        border-color: var(--secondary-border-color-hover);
        background: none;
    }
}

.confirmation {
    background: var(--pink-100);
    border: none;

    &:not([disabled]):hover {
        background: var(--pink-80);
    }
}

.icon {
    border-radius: 50%;
    background: var(--black-warm-off);
    color: var(--black-warm-20);
    border: none;

    &.large {
        width: 100px;
        height: 100px;

        svg {
            width: 50px;
            height: 50px;
        }
    }

    &.medium {
        width: 50px;
        height: 50px;

        svg {
            width: 25px;
            height: 25px;
        }
    }

    &.small {
        width: 30px;
        height: 30px;
        padding: 0;

        svg {
            width: 15px;
            height: 15px;
        }
    }

    &:not([disabled]):hover {
        background: var(--violet-100);
        color: #fff;
    }
}
