.TodoListContainer {
    position: relative;
}

.loader {
    position: absolute;
    bottom: calc(100% + 1rem);
    left: 0;
}

.TodoList {
    display: grid;
    gap: 1rem;
    list-style: none;
    padding: 0;
}
