.TodoListContainer {
    position: relative;
}

.loader {
    position: absolute;
    bottom: calc(100% + 20px);
    left: 0;
}

.TodoList {
    display: grid;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.noTodos {
    text-align: center;
    font-weight: 600;
}