@use "@styles/functions" as *;

:root {
    --column-bg: var(--black-warm-5);
}

[data-theme="dark"] {
    --column-bg: var(--black-warm-85);
}

.column {
    display: grid;
    align-content: start;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    background-color: var(--column-bg);
    border: 1px dashed transparent;
    color: var(--primary-text-color);
    border-radius: 15px;
    padding: 1rem;
    animation: appear 0.2s ease;
    transition: all 0.2s ease;
}

.dragOver {
    opacity: 0.8;
    border-color: var(--black-warm-40);
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.titleWrapper {
    display: flex;
    align-items: center;
    gap: 7px;
}

.title {
    font-size: rem(18);
    line-height: 1;
    text-transform: capitalize;
}

.addTaskButton {
    width: 25px;
    height: 25px;
    background: transparent;
    color: var(--black-warm-40);
    border: 1px solid var(--black-warm-40);
}

.loading {
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
