@use "@styles/mixins" as *;

.columnsWrapper {
    display: grid;
    max-width: 100%;
}

.columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 300px;
    gap: 1rem;
    margin-inline: -15px;
    padding-inline: 15px;
    overflow-x: auto;

    @include mobile-only {
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
