.board {
    margin-top: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(200px, auto); 
    gap: 5px;
    padding: 5px;
    background: #eee;

    > :nth-child(-n + 3) {
        grid-column: span 2;
    }

    > :nth-child(n + 4) {
        grid-column: span 3;
    }
}