@use "functions" as *;
@use "mixins" as *;

:root {
    --input-bg: var(--black-warm);
    --input-border: var(--black-warm-10);
    --input-disabled-bg: var(--black-warm-10);
    --input-border-hover: var(--black-warm-20);
    --input-border-focus: var(--black-warm-80);
    --input-color: var(--black-warm-80);
    --label-color: var(--black-warm-40);
    --select-arrow: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='15'%20height='15'%20viewBox='0%200%2015%2015'%20fill='%23A1A3AD'%20fill-rule='evenodd'%20clip-rule='evenodd'%3E%3Cpath%20d='M3.13523%206.15803C3.3241%205.95657%203.64052%205.94637%203.84197%206.13523L7.5%209.56464L11.158%206.13523C11.3595%205.94637%2011.6759%205.95657%2011.8648%206.15803C12.0536%206.35949%2012.0434%206.67591%2011.842%206.86477L7.84197%2010.6148C7.64964%2010.7951%207.35036%2010.7951%207.15803%2010.6148L3.15803%206.86477C2.95657%206.67591%202.94637%206.35949%203.13523%206.15803Z'%2F%3E%3C%2Fsvg%3E");
}

[data-theme="dark"] {
    --input-bg: var(--black-warm-90);
    --input-border: var(--black-warm-70);
    --input-disabled-bg: var(--black-warm-80);
    --input-color: var(--black-warm-10);
    --input-border-hover: var(--black-warm-60);
    --input-border-focus: var(--black-warm-40);
    --label-color: var(--black-warm-20);

    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(0.7);
    }
}

input[type="date"] {
    @include mobile-only {
        appearance: none;
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    @include mobile-only {
        display: none;
    }
}

textarea { 
    @include input;

    height: auto;
    resize: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.label {
    display: flex;
    font-size: rem(12);
    margin-inline: 2px;
}
