.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    animation: overlayShow 0.2s ease;
}

.modal {
    position: fixed;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 20px;
    animation: contentShow 0.2s ease;

    @media screen and (min-width: 768px) {
        width: clamp(300px, 400px, 800px);
        height: fit-content;    
    }
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #f1f1f1;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0;
    svg {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        border-radius: 5px;    
    }
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translateY(-5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}