@use "@styles/functions" as *;
@use "@styles/mixins" as *;

:root {
    --modal-bg: var(--white-warm);
}

[data-theme='dark'] {
    --modal-bg: var(--black-warm-80);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    animation: overlayShow 0.2s ease;
    z-index: 5;
}

.title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: rem(24);
    color: var(--primary-text-color);
}

.content {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 90%;
    max-width: 400px;
    height: fit-content;
    background: var(--modal-bg);
    padding: 16px;
    z-index: 6;

    &.center {
        animation: showCenter 0.2s ease;
        inset: 0;
        margin: auto;
    }
    
    &.right {
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        animation: contentSlide 0.2s ease;
    }

    @include mobile-only {
        margin: 65px auto;
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background: none;
    color: var(--primary-text-color);
    transition: all 0.2s ease;
    svg {
        width: 24px;
        height: 24px;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}

@media screen and (min-width: 768px) {
    .content {
        border-radius: 5px;    
    }
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes showCenter {
	from {
		opacity: 0;
		transform: translateY(-5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes contentSlide {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
