@use "@styles/functions" as *;

:root {
    --task-bg: #fff;
    --task-border-color: var(--black-warm-10);
}

[data-theme="dark"] {
    --task-bg: var(--black-warm-90);
    --task-border-color: var(--task-bg);
}

.item {
    display: grid;
    gap: 10px;
    background: var(--task-bg);
    border: 1px solid var(--task-border-color);
    padding: 10px 7px 10px 20px;
    border-radius: 5px;
    position: relative;
    animation: appear 0.2s ease;

    &:before {
        content: '';
        position: absolute;
        top: 7px;
        left: 8px;
        bottom: 7px;
        border-radius: 4px;
        width: 5px;
    }

    &[data-priority="6"] { 
        &:before {
            background-color: red;
        }
    }
    
    &[data-priority="5"] {
        &:before {
            background-color: var(--pink-80);
        }
    }
    
    &[data-priority="4"] {
        &:before {
            background-color: var(--orange-80);
        }
    }
    
    &[data-priority="3"] {
        &:before {
            background-color: var(--yellow-100);
        }
    }
    
    &[data-priority="2"] {
        &:before {
            background-color: var(--green-80);
        }
    }
    
    &[data-priority="1"] {
        &:before {
            background-color: var(--black-warm-20);
        }
    }
}

.dragging {
    opacity: 0.5;
}

.header {
    margin-right: 20px;
    overflow: hidden;
}

.typeBadge {
    float: left;
    margin-right: 5px;
    padding: 2px 6px;
    font-size: rem(12);
    font-weight: 500;
    color: var(--white-warm);
    border-radius: 3px;
    text-transform: capitalize;

    &.feature {
        background-color: #1279ff;
    }
    &.bug {
        background-color: red;
    }
    &.cr {
        background-color: var(--violet-80);
        text-transform: uppercase;
    }
    &.improve {
        background-color: var(--green);
    }
}

.title {
    font-size: rem(14);
    font-weight: 300;
    line-height: 19px;
    vertical-align: top;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.priority {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--black-warm-40);
}

.fieldWrapper {
    display: grid;
    justify-content: start;
    gap: 10px;
}

.dragHandle {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 35px;
    cursor: grab;
}

.select {
    padding: 3px 30px 3px 7px;
    height: auto;
    width: auto;
    background-position: center right 5px;
    text-transform: capitalize;
}

.deleteButton {
    position: absolute;
    bottom: 5px;
    right: 2px;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
