.react-calendar {
    border-radius: 3px;
    width: auto;
    max-width: 350px;
    margin: 0 auto;
}
.react-calendar__tile {
    position: relative;
}

/* Dot indicator */

.has-todos::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.has-todos.all-done::after {
    background-color: #00c700;
}
