.App {
    max-width: 768px;
    margin: 0 auto;
}
.Layout {
    display: grid;
    grid-template-columns: minmax(min-content, 300px) 1fr;
    gap: 1rem;
    padding: 0 10px 10px;
}

.errorMessage {
    margin-bottom: 1rem;
    color: red;
}

@media screen and (max-width: 768px) {
    .Layout {
        grid-template-columns: 100%;
    }
}