@use "@styles/mixins" as *;

.app {
    display: grid;
    grid-template-rows: min-content 1fr;
    padding: 24px 10px 10px;
    min-height: 100vh;

    @include mobile-only {
        padding: 10px;
        gap: 1rem;
    }
}

.errorMessage {
    margin-bottom: 1rem;
    color: red;
}



