.form {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-auto-rows: 29px;
    gap: 5px;
    justify-items: start;
    align-items: center;
}

.formLabel {
    display: flex;
    gap: 10px;
    justify-self: end;

    label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.formField {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 10px;
}

.formFieldFull {
    grid-column: 1 / -1;
}

.emptyLabel {
    grid-column-start: 2;
}

.button {
    min-width: 80px;
}
