:root {
  --violet-100: #833FEF;
  --violet-80: #A871FF;
  --violet-20: #EFE5FF;
  
  --black-warm-off: #FAF9FE ;
  --black-warm-10: #E8E7EE;
  --black-warm-20: #AFACC3;
  --black-warm-40: #6C678E;
  --black-warm-60: #6C678E;
  --black-warm-80: #48455F;
  --black-warm: #2D2B3B;

  --black-cold-off: #F4F7F7;
  --black-cold-10: #C9CBCF;
  --black-cold-20: #94969E;
  --black-cold-40: #7A7D87;
  --black-cold-60: #575960;
  --black-cold-80: #303236;
  --black-cold: #303236;

  --green-100: #48E16D;
  --green-80: #81F39C;
  --green-20: #E5FEEB;

  --red-100: #972139;
  --red-80: #C92C4B;
  --red-60: #DA5872;
  --red-20: #E58A9C;

  --pink-100: #E65790;
  --pink-80: #FF89B7;
  --pink-20: #FDD7E6;
  
  --orange-100: #FF812D;
  --orange-80: #FFC061;
  --orange-20: #FFEED4;

  --yellow-100: #FFBC2D;
  --yellow-80: #FFD75E;
  --yellow-60: #FFF67A;

  --border-color: var(--black-warm-40);
  --font-family: "Inter Tight", serif;

  /* Forms properties */
  --accent-color: var(--black-warm-80);
}

/* ======================== Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, main {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    display: block;
    max-width: 100%;
}
ul,ol {
    list-style: none;
}
/* ======================== End of Eric Meyer's CSS Reset */

body {
  font-family: var(--font-family);
  background: #E4E8ED radial-gradient(rgb(190, 190, 190) 1px, transparent 5%) repeat 0 0 / 50px 50px; /* Adjust the size of the dots */
  color: var(--black-warm);
  scrollbar-width: thin; /* Options: auto, thin, none */
  scrollbar-color: #888 #fff; /* thumb color and track color */
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px; /* For horizontal scrollbars */
}

/* The track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: #fff;
}

/* The draggable thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #fff;
}

/* Optional: Change thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}