:root {
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Inter Tight", serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0.3rem 0.5rem;
}

input:not([type="checkbox"]), select {
  padding: 0.3rem 0.5rem;
  border: 1px solid #a0a096;
  border-radius: 3px;
  height: 29px;
}