:root {
  --violet-100: #6827CF;
  --violet-80: #833FEF;
  --violet-60: #A871FF;
  --violet-20: #EFE5FF;
  
  --black-warm-off: #F4F7F7;
  --black-warm-5: #E4E7E7;
  --black-warm-10: #C9CBCF;
  --black-warm-20: #A1A3AD;
  --black-warm-30: #858893;
  --black-warm-40: #7A7D87;
  --black-warm-50: #636670;
  --black-warm-60: #575960;
  --black-warm-70: #3B3F46;
  --black-warm-80: #303236;
  --black-warm-90: #212224;
  --black-warm-100: #131415;

  --green-100: #48E16D;
  --green-60: #81F39C;
  --green-20: #E5FEEB;

  --red-100: #972139;
  --red-80: #C92C4B;
  --red-60: #DA5872;
  --red-20: #E58A9C;

  --pink-100: #E65790;
  --pink-80: #FF89B7;
  --pink-20: #FDD7E6;
  
  --orange-100: #FF812D;
  --orange-80: #FFC061;
  --orange-20: #FFEED4;

  --yellow-100: #FFBC2D;
  --yellow-80: #FFD75E;
  --yellow-60: #FFF67A;

  --border-color: var(--black-warm-40);
  --font-family: "Inter Tight", serif;
  --primary-text-color: var(--black-warm);
  --site-bg: var(--black-warm-off);
  --dot: #bebebe;
  --scrollbar-thumb: var(--black-warm-10);
  
  --calendar-weekday-color: var(--black-warm);
  --accent-color: var(--black-warm-80);
}

[data-theme="dark"] {
    --site-bg: var(--black-warm-80);
    --dot: #6b6b6b;
    --scrollbar-thumb: var(--black-warm-60);
    --accent-color: var(--black-warm-10);
    --primary-text-color: var(--black-warm-off);
    --calendar-weekday-color: var(--black-warm-20);
}

/* ======================== Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, main {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    display: block;
    max-width: 100%;
}
ul,ol {
    list-style: none;
}
/* ======================== End of Eric Meyer's CSS Reset */

body {
  font-family: var(--font-family);
  color: var(--primary-text-color);
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* The track (background) of the scrollbar */
/* ::-webkit-scrollbar-track {
  background: var(--aside-bg);
} */

/* The draggable thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 3px;
}
