.wrapper {
	width: 76px;
	height: 36px;
    background-color: var(--black-warm-10);
	border-radius: 19px;
	position: relative;
    border: 1px solid var(--black-warm-10);
    transition: all 0.2s ease;

	&:focus-visible {
		box-shadow: 0 0 0 1px var(--black-warm-off);
	}

    .icon:first-child {
        color: var(--black-warm-80);
    }

    .icon:last-child {
        color: var(--black-warm-20);
    }

	&[data-state="checked"] {
		background-color: var(--black-warm-90);
        border: 1px solid var(--black-warm-80);

        .icon:first-child {
            color: var(--black-warm-60);
        }

        .icon:last-child {
            color: var(--black-warm-off);
        }
	}
}

.switcher {
	display: block;
	width: 30px;
	height: 30px;
	background-color: var(--black-warm-off);
	border-radius: 50%;
	transition: transform 0.2s ease;
	transform: translateX(-3px);
	will-change: transform;

	&[data-state="checked"] {
		transform: translateX(35px);
        background-color: var(--black-warm-60);
	}
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    z-index: 1;

    &:last-child {
        left: auto;
        right: 10px;
    }
}
