.header {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 10px 0;
}

.guest {
    display: grid;
    grid-auto-rows: min-content;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 1rem;
    height: 100vh;
}

.headerTitle {
    margin: 0 auto 0 0;
    font: 2rem/1 system-ui;
    span {
        font-size: 1rem;
    }
}

.guestTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: 3rem system-ui;

    span {
        font-size: 1.5rem;
    }
}

.account {
    background: none;
    border: none;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.accountActive {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}

.header img {
    display: block;
    width: 30px;
    height: 30px;
}
